#explore-menu{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#explore-menu h2{
    font-weight: 600;
    
    font-size: max(1vw,28px);
}
#explore-menu p{
    color: grey;
    width: 50%;
}
.menu-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.menu-list::-webkit-scrollbar{
    display: none;
}
.menu-list .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.menu-list .active{
    border: 5px solid red;
    border-radius: 50%;
}
.menu-list img{
    margin-top: 9px;
    border: 5px solid white;
    box-shadow: 0px 0px 4px black;
    border-radius: 50%;
}
.menu-list .menu p{
    margin-left: 20px;
}
.menu-list hr{
    height: 10px;
    color: grey;
}
@media screen and (max-width:720px) {
    #explore-menu p{
        color: grey;
        width: 100%;
    }
    #explore-menu h2{
        font-weight: 600;
        
        font-size: max(1vw,18px);
    }
    .menu-list .menu p{
        text-align: center;
        margin-right: 10px;
    }
}