hr{
  height: 2px;
  color: grey;
  margin-top: 1%;
  margin-bottom: 1%;
}
@media screen and (max-width:600px) {
  .container{
    padding-left: 3%!important;
    padding-right: 3%!important;
  }
  
}